/* Page */

position: relative;
width: 1920px;
height: 7422.64px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;


/* footer */

position: absolute;
width: 1919.21px;
height: 96.15px;
left: 11.11px;
top: 7324.95px;



/* footer-bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #001C59;


/* footer-text */

position: absolute;
width: 971px;
height: 43px;
left: 513.89px;
top: 36.05px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20.5px;
line-height: 24px;
/* ou 117% */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;



/* contact */

position: absolute;
width: 2153.57px;
height: 3450.58px;
left: -72.95px;
top: 3962px;



/* contact-decor-bg */

position: absolute;
left: 57.23%;
right: 0%;
top: 46.93%;
bottom: 24.57%;

background: #D7948E;
opacity: 0.25;


/* contact-demandes */

position: absolute;
width: 1914.06px;
height: 1158.24px;
left: 0px;
top: 2292.34px;



/* contact-formulaire */

position: absolute;
width: 866.54px;
height: 1003.53px;
left: 1047.52px;
top: 0px;



/* bg-formulaire */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #001C59;


/* input-message */

position: absolute;
width: 728.59px;
height: 389.08px;
left: 69.05px;
top: 534.41px;



/* zone-msg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6476A4;


/* libelle-message */

position: absolute;
width: 211px;
height: 24px;
left: 37.38px;
top: 27.25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 86% */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;



/* input-demande */

position: absolute;
width: 728.59px;
height: 98.82px;
left: 69.05px;
top: 416.17px;



/* zone-demande */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6476A4;


/* libelle-demande */

position: absolute;
width: 216px;
height: 24px;
left: 37.38px;
top: 35.49px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 86% */
letter-spacing: 0.04em;

color: #FFFFFF;



/* ligne-contact */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;

position: absolute;
width: 727.66px;
height: 98.82px;
left: 69.05px;
top: 295.93px;



/* input-telephone */

width: 348.83px;
height: 98.82px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* zone-telephone */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6476A4;


/* libelle-telephone */

position: absolute;
width: 227px;
height: 24px;
left: 37.38px;
top: 35.73px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 86% */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;



/* input-mail */

width: 348.83px;
height: 98.82px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* zone-mail */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6476A4;


/* libelle-email */

position: absolute;
width: 160px;
height: 24px;
left: 73.35px;
top: 35.73px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 86% */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;



/* input-societe */

position: absolute;
width: 728.59px;
height: 98.82px;
left: 69.05px;
top: 176.39px;



/* zone-societe */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6476A4;


/* libelle-societe */

position: absolute;
width: 189px;
height: 24px;
left: 37.38px;
top: 35.27px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 86% */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;



/* input-nom-prenom */

position: absolute;
width: 728.59px;
height: 98.82px;
left: 69.05px;
top: 56.86px;



/* zone-nom-prenom */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #6476A4;


/* libelle-nom-prenom */

position: absolute;
width: 220px;
height: 24px;
left: 37.38px;
top: 34.8px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 86% */
text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;



/* logo-contact */

position: absolute;
width: 803.19px;
height: 1054.45px;
left: 0.28px;
top: 101.98px;



/* fond-logo-contact */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4C5E92;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* label-contact */

position: absolute;
left: 27.6%;
right: 11.15%;
top: 34.77%;
bottom: 50.24%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 130.88px;
line-height: 158px;

color: #FFFFFF;

transform: rotate(1.19deg);


/* contact-moi */

position: absolute;
width: 1654px;
height: 1462px;
left: 256.95px;
top: 576px;



/* contact-moi-content */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 120px;

position: absolute;
width: 1654px;
height: 984px;
left: 0px;
top: 478px;



/* contact-moi-gauche */

width: 767px;
height: 968px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* contact-moi-paragraph-1 */

position: absolute;
width: 767px;
height: 614px;
left: 0px;
top: 354px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 43px;
/* ou 116% */
letter-spacing: -0.01em;

color: #000000;



/* contact-moi-role */

position: absolute;
width: 740px;
height: 222px;
left: 1px;
top: 112px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 47px;
line-height: 67px;
/* ou 143% */
letter-spacing: -0.04em;

color: #CC685F;



/* contact-moi-nom */

position: absolute;
width: 767px;
height: 60px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 97px;
line-height: 60px;
/* identique à la hauteur de la zone de texte, ou 62% */
letter-spacing: 0.02em;

color: #001C59;



/* contact-moi-droite */

width: 767px;
height: 984px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* contact-moi-paragraph-3 */

position: absolute;
width: 767px;
height: 289px;
left: 0px;
top: 695px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 43px;
/* ou 116% */
letter-spacing: -0.01em;

color: #000000;



/* contact-moi-expertise */

position: absolute;
width: 211px;
height: 43px;
left: 3px;
top: 582px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 43px;
/* identique à la hauteur de la zone de texte, ou 96% */
letter-spacing: 0.03em;

color: #CC685F;



/* contact-moi-paragraph-2 */

position: absolute;
width: 767px;
height: 614px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 43px;
/* ou 116% */
letter-spacing: -0.01em;

color: #000000;



/* contact-moi-header */

position: absolute;
width: 676px;
height: 884px;
left: 443px;
top: -576px;



/* button-mon-cv */

box-sizing: border-box;

position: absolute;
width: 282px;
height: 67px;
left: 203px;
top: 817px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


/* bg-mon-cv */

position: absolute;
left: 0.07%;
right: 0.27%;
top: 1.39%;
bottom: 0.15%;

background: #CC685F;


/* label-mon-cv */

position: absolute;
width: 166px;
height: 45px;
left: 68px;
top: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 24px;
/* ou 63% */
letter-spacing: -0.01em;

color: #FFFFFF;



/* contact-moi-coords */

position: absolute;
width: 676px;
height: 222px;
left: 0px;
top: 576px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 67px;
/* ou 103% */
text-align: center;
letter-spacing: 0.03em;

color: #CC685F;



/* contact-moi-portrait */

position: absolute;
width: 500px;
height: 578px;
left: 61px;
top: 0px;



/* pp-stylisee */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D78C7D;


/* embedded */

position: absolute;
width: 1869.04px;
height: 1450.33px;
left: -22.29px;
top: 2454.17px;



/* embedded-bandeau */

position: absolute;
width: 1869.04px;
height: 430.32px;
left: 0px;
top: 1020.01px;



/* embedded-bandeau-bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #001C59;


/* bandeau-content */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 57px;

position: absolute;
width: 1299.65px;
height: 316.61px;
left: 234.29px;
top: 43.21px;



/* bandeau-item-idees */

width: 224px;
height: 295.95px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label-idees */

position: absolute;
left: 0%;
right: 0%;
top: 91.89%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 50% */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;



/* icone-idees */

position: absolute;
left: 13.66%;
right: 19.31%;
top: 0%;
bottom: 23.7%;

background: #FFFFFF;
border: 1.97px solid #FFFFFF;


/* bandeau-plus */

width: 79.04px;
height: 85.07px;

background: #FFFFFF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bandeau-item-expertise */

width: 347px;
height: 262.91px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* label-expertise */

position: absolute;
left: 0%;
right: 0%;
top: 90.87%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 50% */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;



/* icone-expertise */

position: absolute;
left: 23.79%;
right: 40.04%;
top: 0%;
bottom: 33.52%;

background: #34457E;


/* bandeau-egal */

width: 74.6px;
height: 49.93px;

background: #FFFFFF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* bandeau-item-aventure */

width: 347px;
height: 316.61px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* label-aventure */

position: absolute;
left: 0%;
right: 0%;
top: 92.42%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 50% */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;



/* icone-aventure */

position: absolute;
left: 17.24%;
right: 26.24%;
top: 0%;
bottom: 17.42%;

background: #CD776F;


/* embedded-main */

position: absolute;
width: 1708px;
height: 622.3px;
left: 156.29px;
top: 310.83px;



/* embedded-infos */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 132px;

position: absolute;
width: 1708px;
height: 622.3px;
left: 0px;
top: 0px;



/* embedded-infos-decouvre */

width: 788px;
height: 514px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* embedded-button-labo */

position: absolute;
width: 281.02px;
height: 65.97px;
left: 210.33px;
top: 473.22px;



/* fond-le-labo */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #CC685F;


/* le-labo */

position: absolute;
left: 26.57%;
right: 22.9%;
top: 25.44%;
bottom: 38.18%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 39px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 62% */
text-align: center;
letter-spacing: -0.0225em;

color: #FFFFFF;



/* embedded-decouvre-bureau */

position: absolute;
width: 788px;
height: 414px;
left: 0px;
top: 0px;



/* decouvrez-bureau-texte */

position: absolute;
left: 0%;
right: 0%;
top: 47.83%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* ou 120% */
text-align: center;
letter-spacing: 0.01em;

color: #000000;



/* decouvrez-bureau-titre */

position: absolute;
left: 15.61%;
right: 27.66%;
top: 0%;
bottom: 66.18%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 54px;
line-height: 70px;
/* ou 130% */
text-align: center;
letter-spacing: -0.01em;

color: #001C59;



/* embedded-infos-financez */

width: 788px;
height: 622.3px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* cir */

position: absolute;
left: 35.26%;
right: 41.05%;
top: 70.93%;
bottom: 0%;

background: url(Layer 0.png);


/* embedded-financez-accompagnement */

position: absolute;
width: 788px;
height: 414px;
left: 0px;
top: 0px;



/* financer-texte */

position: absolute;
left: 0%;
right: 0%;
top: 47.83%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* ou 120% */
text-align: center;
letter-spacing: 0.01em;

color: #000000;



/* finance-accomp-titre */

position: absolute;
left: 17.13%;
right: 22.08%;
top: 0%;
bottom: 66.18%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 54px;
line-height: 70px;
/* ou 130% */
text-align: center;

color: #001C59;



/* embedded-header */

position: absolute;
width: 400.7px;
height: 178.61px;
left: 792.66px;
top: 0px;



/* logo-embedded */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #CD776F;


/* intro-accompagnement */

position: absolute;
width: 2294.92px;
height: 2685.13px;
left: -84px;
top: -168px;



/* accompagnement */

position: absolute;
width: 2294.92px;
height: 1809.13px;
left: 0px;
top: 876px;



/* accompagnement-cta */

position: absolute;
width: 2173.39px;
height: 595.33px;
left: 121.53px;
top: 1213.8px;



/* accompagnement-cta-decor */

position: absolute;
width: 2173.39px;
height: 595.33px;
left: 0px;
top: 0px;



/* accompagnement-cta-bg */

position: absolute;
left: 1.57%;
right: 0%;
top: 0%;
bottom: 27.72%;

background: #001C59;


/* mongolfiere */

position: absolute;
left: 0%;
right: 94.5%;
top: 9.96%;
bottom: 49.38%;

background: #CD776F;


/* motif-droite */

position: absolute;
left: 75.96%;
right: 10.2%;
top: 46.79%;
bottom: 0%;

background: #34457E;


/* accompagnement-cta-main */

position: absolute;
width: 1588px;
height: 180px;
left: 193.47px;
top: 132.2px;



/* texte-accomp */

position: absolute;
left: 51.01%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 24px;
/* ou 114% */
text-align: center;
letter-spacing: -0.0225em;

color: #FFFFFF;



/* faites-decoller-projets */

position: absolute;
width: 672px;
height: 98px;
left: 0px;
top: 36px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 49px;
/* ou 122% */
text-align: center;
letter-spacing: -0.0525em;

color: #FFFFFF;



/* accompagnement-main */

position: absolute;
width: 1913px;
height: 832px;
left: 0px;
top: 0px;



/* prestations */

position: absolute;
width: 1617px;
height: 393px;
left: 296px;
top: 439px;



/* button-accompagnement */

position: absolute;
width: 611.98px;
height: 74px;
left: 460.73px;
top: 575px;



/* fond-tous-nos-accomp */

position: absolute;
left: 0%;
right: 0%;
top: 8.58%;
bottom: 2.27%;

background: #CC685F;


/* tous-nos-accomp */

position: absolute;
width: 493px;
height: 74px;
left: 61.27px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 74px;
/* identique à la hauteur de la zone de texte, ou 200% */
text-align: center;
letter-spacing: -0.01em;

color: #FFFFFF;



/* presta-2 */

position: absolute;
width: 778px;
height: 393px;
left: 839px;
top: 0px;



/* texte-presta-2 */

position: absolute;
left: 0%;
right: 0%;
top: 69.97%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 24px;
/* ou 114% */
text-align: center;
letter-spacing: -0.0225em;

color: #000000;



/* titre-presta-2 */

position: absolute;
left: 4.5%;
right: 7.46%;
top: 27.23%;
bottom: 36.9%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 35px;
line-height: 45px;
/* ou 129% */
text-align: center;
letter-spacing: -0.02em;

color: #CC685F;



/* prestation-2 */

position: absolute;
width: 229px;
height: 74px;
left: 258px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 74px;
/* identique à la hauteur de la zone de texte, ou 195% */
text-align: center;
letter-spacing: 0.03em;

color: #001C59;



/* presta-1 */

position: absolute;
width: 778px;
height: 393px;
left: 0px;
top: 0px;



/* texte-presta-1 */

position: absolute;
left: 0%;
right: 0%;
top: 69.97%;
bottom: -17.56%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 24px;
/* ou 114% */
text-align: center;
letter-spacing: -0.0225em;

color: #000000;



/* titre-presta-1 */

position: absolute;
left: 3.08%;
right: 8.87%;
top: 27.23%;
bottom: 36.9%;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 35px;
line-height: 45px;
/* ou 129% */
text-align: center;
letter-spacing: -0.02em;

color: #CC685F;



/* prestation-1 */

position: absolute;
width: 224px;
height: 74px;
left: 257px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 74px;
/* identique à la hauteur de la zone de texte, ou 195% */
text-align: center;
letter-spacing: 0.03em;

color: #001C59;



/* accompagnement-header */

position: absolute;
width: 549px;
height: 129px;
left: 803px;
top: 236px;



/* notre-accompagnement */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 61px;
line-height: 74px;
/* ou 121% */
text-align: center;
letter-spacing: -0.01em;

color: #001C59;



/* accompagnement-main-decor */

position: absolute;
width: 345.55px;
height: 651.81px;
left: 0px;
top: 0px;



/* forme-gauche */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #34457E;


/* Hero */

position: absolute;
width: 2105.12px;
height: 1103.93px;
left: 84.98px;
top: 0px;



/* background */

position: absolute;
left: 0%;
right: 5.58%;
top: 14%;
bottom: 5.55%;

background: #001C59;


/* hero-decor */

position: absolute;
width: 2041.24px;
height: 809.55px;
left: -92.1px;
top: 294.38px;



/* icone-bleu-2 */

position: absolute;
left: 0%;
right: 91.87%;
top: 70.58%;
bottom: 16.63%;

background: #001C59;


/* icone-bleu-1 */

position: absolute;
left: 61.81%;
right: 27.01%;
top: 0%;
bottom: 85.97%;

background: #34457E;


/* icone-orange-3 */

position: absolute;
left: 91.55%;
right: 0%;
top: 80.3%;
bottom: 0%;

background: #D78C7D;


/* icone-orange-2 */

position: absolute;
left: 64.93%;
right: 32.77%;
top: 24.5%;
bottom: 65.54%;

background: #CD776F;


/* icone-orange-1 */

position: absolute;
left: 61.93%;
right: 35.9%;
top: 51.06%;
bottom: 38.01%;

background: #D7948E;


/* Forme-over-image */

box-sizing: border-box;

position: absolute;
left: 75.87%;
right: 3.57%;
top: 11.13%;
bottom: 38.21%;

background: #34457E;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* hero-image */

position: absolute;
width: 894.8px;
height: 1041.83px;
left: 1035.3px;
top: 0px;



/* image-mask */

position: absolute;
width: 893.41px;
height: 1038.78px;
left: 1.39px;
top: 3.05px;



/* image_background_shape */

position: absolute;
left: -0.16%;
right: 0%;
top: -0.29%;
bottom: 0.14%;

background: #4C5E92;


/* mask-shape */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* image */

position: absolute;
left: -0.2%;
right: -19.59%;
top: 26.28%;
bottom: 5.04%;

background: url(.png);


/* hero-content */

position: absolute;
width: 929px;
height: 436px;
left: 162.02px;
top: 307px;



/* hero-subtitle */

position: absolute;
width: 924px;
height: 110px;
left: 5px;
top: 326px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 37.9px;
line-height: 110px;
/* identique à la hauteur de la zone de texte, ou 290% */
letter-spacing: -0.0125em;

color: #CC685F;



/* hero-title */

position: absolute;
width: 648px;
height: 312px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 80px;
line-height: 104px;
/* ou 130% */
letter-spacing: -0.01em;

color: #FFFFFF;



/* intro-accompagnement-foreground */

position: absolute;
left: -4.4%;
right: 3.1%;
top: 11.06%;
bottom: -38.35%;

background: #34457E;
